.dashboard {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 60px;
  background-color: #ffd777;
  border-bottom: 1px solid rgb(180, 151, 89);
}

.dashboard .dashboard__contents.left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  margin-left: 16px;
  position: relative;
}
.dashboard .dashboard__contents.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
 
}
.dashboard .dashboard__title {
  color: white;
  margin-left: 15px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.dashboard .dashboard__contents.left i {
  opacity: 0.5;
  font-size: 20px;
  cursor: pointer;
}
.dashboard .dashboard__contents.right input {
  background-color: rgb(53, 196, 231);
  border: 1px solid rgb(26, 117, 139);
  color: white;
  width: 75px;
  height: 35px;
  right: 40px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

.dashboard .dashboard__contents.right input:hover {
  color: rgb(95, 78, 56);
  background-color: #ffd777;
  border: 1px solid rgb(95, 78, 56);
}
