@import "resetCSS.css";
@import "header.css";
@import "manage.css";
@import "table.css";
@import "resetPassword.css";
@import "index.css";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.showing {
  display: none;
}
