.manage .manage__contents.right .manage__board {
  width: 100%;
  position: absolute;
  top: 90px;
  padding: 0px 15px;
  padding-right: 22px;
}
.manage__board .manage__board__title {
  font-size: 27px;
  opacity: 0.6;
}
.manage__board .manage__board__users {
  width: 100%;
  margin: 15px 5px;
  height: auto;
  background-color: white;
  box-shadow: -1px 9px 16px 0px rgba(0, 0, 0, 0.5);
}
.manage__board .manage__board__users h3 {
  font-size: 22px;
  padding: 15px 10px;
  opacity: 0.6;
}
.manage__board .manage__board__users hr {
  margin: 0px;
  border: none;
  border-bottom: 0.8px solid grey;
}
.board__users__table {
  margin: 30px 0px;
  font-size: 15px;
  color: rgb(119, 123, 126);
  width: 100%;
}
.board__users__table td {
  padding: 15px 0px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.board__users__table tr {
  background-color: white;
  border-bottom: 0.5px solid rgb(189, 188, 188);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 13px;
}
.board__users__table tr:hover:nth-child(n + 2) {
  background-color: rgb(214, 214, 214);
}
.board__users__table tr:nth-child(2n) {
  background-color: rgb(245, 245, 245);
}
.board__users__table th {
  padding-bottom: 10px;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}
.board__users__table .table1 {
  width: 5%;
  height: auto;
  text-align: left;

  padding-left: 10px;
}
.board__users__table .table2 {
  width: 15%;
  text-align: left;
}
.board__users__table .table3 {
  width: 15%;
  text-align: left;
}
.board__users__table .table4 {
  width: 20%;
  text-align: left;
}
.board__users__table .table5 {
  width: 10%;
  text-align: left;
}
.board__users__table .table6 {
  width: 10%;
  text-align: left;
}
.board__users__table .table7 {
  width: 5%;
  text-align: left;
}

.table7.table__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.table7.table__button form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board__users__table .table__button button {
  width: 33px;
  height: 33px;
  margin: 0px 3px;
  padding: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__users__table .table__button button:focus {
  border: inherit;
  background-color: #424a5d;
}

.table7.table__button i {
  z-index: 1;
  font-size: 20px;
  color: white;
  position: absolute;
}
.table7 .button1 {
  background-color: rgb(255, 154, 38);
}
.table7 .button2 {
  background-color: rgb(13, 114, 0);
}
